@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
    background: linear-gradient(to right,rgb(146, 139, 139), rgb(170, 170, 56));
}

.dictionary {
  width: 70%;
  margin: auto;
}
.search-bar {
  width: 100%;
  background: rgb(247, 245, 245);

  margin-top: 40px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.search-bar input,
.search-btn {
  border: none;
  outline: none;
  background: rgb(247, 245, 245);
}
.search-btn {
  cursor: pointer;
}
.search-btn .fa-sharp{
 padding: 0 20px;
   
} 

.word {
  margin-top: 40px;
}
.pronounce {
  margin-top: 10px;
}
.typeofword {
  margin-top: 20px;
  font-size: 20px;
}

.meaning {
  margin-top: 40px;
}
.meanings {
  margin-top: 20px;
}

@media (max-width: 800px) {
  .dictionary {
    width: 80%;
  }
}
